---
layout: compress
---

{% include base_path %}

<!doctype html>
<meta charset="utf-8">
<title>Redirecting to https://hsinyuan-huang.github.io/</title>
<meta http-equiv="refresh" content="0; URL=https://hsinyuan-huang.github.io/">
<link rel="canonical" href="https://hsinyuan-huang.github.io/">
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
